@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
body {
    background-color: #FAF9F7;
}
.navigation-bar {
    width: 95%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    margin-left: 5%;
    
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-right: 80px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
    margin-top: 15px; 
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: rgb(84, 84, 84)
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: underline; 
} 

a:hover { 
    text-decoration: underline; 
} 

a:active { 
    text-decoration: underline; 
}

.landing-img {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 5%;
}

.workshops-row {
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}

.ws-img {
    width: 32%;
    padding-top: 0.75%;
    padding-left: 1%;
    padding-right: 1%;
}

.ws-p {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(84, 84, 84);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding-top: 2%;
}

.schedule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(84, 84, 84);
}

.theme-awards-p {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(84, 84, 84);
    text-align: center;
    padding-top: 3%
}

.awards {
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}

.award-img {
    width: 200px;
    padding-left: 1%;
    padding-right: 1%;
}